.fundo {
    background: rgb(229, 142, 39);
    background: radial-gradient(circle, rgba(229, 143, 39, 0.56) 0%, rgba(22, 26, 30, 0.966) 65%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 5vh;
}

.flex-duvidas {
    display: flex;
    flex-direction: row;
}

.titulo-container {
    display: flex;
    flex-direction: row;
    text-align: start;
    margin-top: 8%;
    margin-left: 10%;
}

.caixa-misterio {
    width: 14%;
    margin-left: 10%;
}

.titulo {
    margin-top: 2%;
    color: #fbfbfb;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 90px;
    font-weight: 600;
    font-family: 'Bebas Neue', sans-serif;
}

.container-duvida-1 {
    text-align: start;
    margin-top: 5%;
    margin-left: 10%;
    padding-bottom: 10%;
}


.container-duvida-2 {
    text-align: start;
    margin-right: 10%;
    margin-left: 5%;
    padding-bottom: 10%;
    margin-top: 30%;
}

.titulo-1 {
    color: #fbfbfb;
    font-weight: 500;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    font-weight: 600;
    font-size: 22px;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.paragrafo-1 {
    text-shadow: 0.1em 0.1em 0.2em black;
    color: #9a9a9a;
    text-align: start;
    line-height: 130%;
    padding-left: 5%;
    padding-bottom: 3%;
    font-weight: 500;
    font-size: 18px;
}

.paragrafo-2 {
    text-shadow: 0.1em 0.1em 0.2em black;
    color: #9a9a9a;
    text-align: start;
    line-height: 130%;
    padding-left: 5%;
    padding-right: 4%;
    padding-bottom: 3%;
    font-weight: 500;
    font-size: 18px;
}


.img-milles-1 {
    width: 90%;
}

.img-leon {
    width: 70%;
}

.texto-1 {
    margin-right: 10%;
    background-color: #1e2124;
    border-radius: 8px;
    padding: 2%;
    box-shadow: 0px 5px 10px #e58f2763;
}



/*Celular*/
@media only screen and (max-width: 640px) {
    .fundo {
        background-color: #161a1e;
        background-image: none;
    }

    .flex-duvidas {
        display: flex;
        flex-direction: column;
    }

    .titulo-container {
        text-align: center;
    }

    .titulo {
        color: #fbfbfb;
        font-size: 28px;
        font-weight: 600;
        margin-left: 10%;
    }

    .container-duvida-1 {
        text-align: start;
        margin-top: 20%;
        margin-left: 10%;
        padding-bottom: 30%;
    }


    .container-duvida-2 {
        text-align: start;
        margin-left: 10%;
        padding-bottom: 50%;
    }

    .titulo-1 {
        color: #fbfbfb;
        font-weight: 500;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        font-weight: 600;
    }

    .paragrafo-1 {
        color: #9a9a9a;
        text-align: start;
        line-height: 130%;
        padding-left: 5%;
        padding-bottom: 3%;
        font-weight: 500;
    }

    .img-milles-1 {
        width: 90%;
    }

    .texto-1 {
        margin-right: 10%;
        background-color: #1e2124;
        border-radius: 8px;
        padding: 3%;
        padding: 10px;
        box-shadow: 0px 5px 10px #e58f277a;
    }
}

/*Tablets*/
@media only screen and (min-width: 641px) and (max-width: 2.000px) {
    .fundo {
        background-color: #161a1e;
        background-image: none;
    }

    .flex-duvidas {
        display: flex;
        flex-direction: column;
    }

    .titulo-container {
        text-align: center;
    }

    .titulo {
        color: #fbfbfb;
        font-size: 28px;
        font-weight: 600;
        margin-left: 10%;
    }

    .container-duvida-1 {
        text-align: start;
        margin-top: 20%;
        margin-left: 10%;
        padding-bottom: 30%;
    }


    .container-duvida-2 {
        text-align: start;
        margin-left: 10%;
        padding-bottom: 50%;
    }

    .titulo-1 {
        color: #fbfbfb;
        font-weight: 500;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        font-weight: 600;
    }

    .paragrafo-1 {
        color: #9a9a9a;
        text-align: start;
        line-height: 130%;
        padding-left: 5%;
        padding-bottom: 3%;
        font-weight: 500;
    }

    .img-milles-1 {
        width: 90%;
    }

    .texto-1 {
        margin-right: 10%;
        background-color: #1e2124;
        border-radius: 8px;
        padding: 3%;
        padding: 10px;
        box-shadow: 0px 5px 10px #e58f277a;
    }
}