.fundo {
  background: rgb(229, 142, 39);
  background: radial-gradient(circle, rgba(229, 143, 39, 0.56) 0%, rgba(22, 26, 30, 0.966) 65%);
}

/*Celular*/
@media only screen and (max-width: 640px) {
  .fundo {
    background-color: #161a1e;
    background: #161a1e;
  }
}

/*Tablets*/
@media only screen and (min-width: 641px) and (max-width: 1.007px) {
  .fundo {
    background-color: #161a1e;
    background: #161a1e;
  }
}